apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudify

resources:
  - ../../base

commonLabels:
  environment: production

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: cloudify
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
    target:
      kind: HorizontalPodAutoscaler
      name: cloudify

images:
  - name: cloudify
    newName: registry.tranthachnguyen.com/cloudify
    newTag: latest
