apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudify

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - rbac.yaml
  - pvc.yaml
  - postgres.yaml
  - redis.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/part-of: cloudify
  app.kubernetes.io/managed-by: kustomize
